/* general styles */
body {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
a {
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    margin: 10px 10px 0px 10px;
}
main {
    max-width: 1000px;
    width: 75vw;
    margin: 0 auto;
    display: block;
}
li a:hover {
    opacity: 0.7;
}
ul {
    list-style-type: none;
    display: inline-block;
}
li {
    display: inline;
}
.block {
    float: left;
}
.column {
    float: left;
    width: 650px;
}
.option {
    display: inline-block;
    padding: 2px;
}
.options {
    display: inline-block;
}
.twoGroup {
    display: block;
}
#generator {
    display: block;
    padding: 10px;
    background-color: black;
    width: 440px;
    height: 600px;
    float: left;
    top: 10px;
    position: relative;
}
#generator p {
    text-align: left;
    padding: 1%;
}
#gen fieldset {
    width: 120px;
    display: inline-block;
    margin-right: 100px;
}
#gen p {
    width: 400px;
}
#generated {
    background-color: white;
    text-decoration: none;
    padding: 0;
    vertical-align: middle;
    margin: 10px auto;
}
#num {
    width: 30%;
    float: left;
    margin-right: 105px;
}
#num fieldset {
    float: left;
}
.topLabel {
    text-align: left;
    font-size: 1em;
    display: block;
}
.slidecontainer {
    margin-bottom: 8%;
}
.slider {
    display: block;
    width: 100%;
}
.displayVal {
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
}
.leftLabel {
    display: inline-block;
}
.rightLabel {
    display: inline-block;
}
.allButton,
.noneButton {
    padding: 5px;
    text-align: center;
    position: relative;
    float: right;
    bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.8em;
    line-height: 0.8em;
}
.noneButton {
    clear: both;
}
.row .block {
    height: inherit;
    width: 300px;
    float: left;
    margin-right: 20px;
}
.row {
    width: 650px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
fieldset {
    text-align: left;
    margin-bottom: 20px;
}
.column .block {
    margin-bottom: 5px;
}
header {
    margin: 0 auto;
    width: 60%;
    max-width: 2000px;
    margin-top: 5px;
}
img {
    display: block;
}
img:hover {
    opacity: 0.7;
}
legend {
    font-size: 1em;
}
label {
    font-family: 'Catamaran', sans-serif;
    font-size: 0.8em;
}
header h1 {
    color: black;
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}
header a {
    float: left;
}
* {
    color: black;
    text-align: center;
    font-family: 'Catamaran', serif;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 0.8em;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0;
    text-align: left;
}
button {
    background-color: white;
    border: 1.4px solid dimgrey;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
}
button:hover {
    border: white;
    background-color: lightgray;
}
button:active {
    background-color: black;
    color: white;
    border: none;
}
footer {
    background: black;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
}
footer p {
    color: white;
    font-size: 0.8em;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

/* home page */
#homePage {
    display: block;
    margin-top: 6%;
}
#homePage img {
    border: 2px solid black;
    height: 180px;
}
#homePage a {
    font-size: 1.4em;
}

/* name page */
#namePage {
    margin-top: 40px;
}
#eth {
    padding: 10px 20px;
    width: 480px;
    float: left;
    margin-bottom: 100px;
}
#eth fieldset {
    width: 520px;
    height: 50px;
    margin: 10px;
    margin-top: 4px;
}
#eth #misc {
    height: 80px;
}
#namePage fieldset {
    text-align: left;
}
#namePage #generator p {
    padding: 10px;
    text-align: center;
}
#namePage #generator {
    display: block;
    padding: 10px;
    background-color: black;
    width: 300px;
    height: 180px;
    margin-left: 80px;
}
#namePage #gen {
    font-size: 1em;
    width: 140px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-left: 50px;
    float: left;
}
#namePage #gen fieldset {
    margin: 4px;
    width: 300px;
}
#namePage .allButton {
    display: inline-block;
}

/* loot page */
#lootPage #generator {
    height: 400px;
    float: right;
}
#lootPage .block {
    width: 400px;
    margin-top: 2%;
    margin-right: 300px;
    display: inline-block;
}

/* trinket page */
#trinket {
    margin-top: 4%;
    max-width: 900px;
}
#trinket #generator {
    float: left;
    padding: 10px 20px;
    width: 500px;
    background-color: black;
    min-height: 180px;
    margin-bottom: 100px;
    height: auto;
}
#trinket #generated {
    padding: 10px;
}
#trinket #gen {
    width: 780px;
}
#trinket p {
    font-size: 1em;
}
#trinket label {
    font-size: 0.8em;
}
#sources {
    width: 250px;
    float: left;
}
#trinket label {
    text-align: left;
}
#num {
    float: left;
    width: inherit;
}
#leftChunk {
    float: left;
    width: 40%;
}
#trinket #gen {
    float: right;
    width: 60%;
}

/* character page */
#race,
#class,
#background {
    width: 620px;
}
#charPage button {
    margin-bottom: 20px;
}
main #name fieldset,
main #alignment fieldset {
    width: 230px;
}
#name {
    font-size: 1em;
    font-family: 'Catamaran', serif;
    margin-top: 1px;
    padding-top: 0;
    color: black;
    text-align: center;
}
#charPage #generator {
    width: 300px;
}
#nameFieldset,
#alignmentFieldset,
#raceFieldset,
#classFieldset,
#bgFieldset {
    display: none;
    margin-bottom: 20px;
}
#background {
    margin-bottom: 20%;
}
#charPage {
    margin-top: 4%;
}
.collapsible {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 3px solid black;
    font-size: 15px;
    margin-bottom: 20px;
}
button p {
    display: inline;
    font-size: 1.1em;
    margin-top: 0px;
}
.collapseArrow {
    float: right;
    font-size: 1.2em;
}
#generatedCharacter {
    background-color: white;
    padding: 10px;
}
#charPage #generator {
    height: inherit;
    margin-bottom: 50px;
}
#charPage h2 {
    font-size: 1.8em;
    line-height: 1em;
}
#charPage h3 {
    line-height: 1em;
    font-weight: 400;
}
#charPage fieldset button {
    margin-bottom: 0px;
}
#charPage #genButton {
    width: 320px;
    float: left;
}

/* TABLET */
@media screen and (max-width: 900px) {
    main {
        width: 80vw;
    }
    #namePage {
        margin-top: 0px;
    }
    #eth {
        margin-bottom: 20px;
    }
    #gen p {
        width: 150px;
    }
    #namePage #gen fieldset {
        width: 200px;
        margin: 0 auto;
    }
    #namePage #gen {
        margin-left: 0px;
        margin-bottom: 8%;
    }
    #namePage #generator {
        width: 280px;
    }
    #trinket {
        margin-top: 0px;
    }
    #trinket #leftChunk {
        width: 70vw;
        margin: 0 auto;
        float: none;
    }
    #trinket #num {
        width: 180px;
        margin-left: 20px;
        margin-right: 0px;
    }
    #trinket #gen {
        width: 80vw;
        float: none;
        margin: 0 auto;
        display: block;
    }
    #trinket #num label {
        margin-right: 5px;
    }
    #background {
        margin-bottom: 0px;
    }
    #charPage .column {
        clear: both;
        float: none;
    }
    #charPage #generator {
        clear: both;
        float: none;
        margin: 0 auto;
    }
    #charPage #genButton {
        float: none;
        margin-top: 50px;
    }
}

/* MOBILE */
@media screen and (max-width: 550px) {
    * {
        float: clear;
        margin: 0 auto;
        position: static;
    }
    main {
        width: 90vw;
    }
    hr {
        display: none;
    }
    header {
        background-color: black;
        width: 100%;
        margin: 0 auto;
        color: white;
    }
    header h1 {
        font-size: 1.8em;
        margin-left: 30px;
        color: white;
    }
    ul {
        margin: 0 auto;
        padding-left: 0px;
    }
    li a {
        font-size: 0.8em;
        color: white;
    }
    #trinket #gen {
        width: 100%;
    }
    #trinket #num {
        margin: 0 auto;
    }
    #trinket {
        margin-top: 6%;
    }
    #trinket #gen p {
        font-size: 0.8em;
    }
    #trinket #gen fieldset {
        margin-right: 0px;
        float: none;
    }
    #trinket #generator {
        display: block;
        position: static;
        width: 80vw;
    }
    #namePage #generator {
        display: block;
        margin: 0 auto;
        float: right;
        margin-bottom: 20%;
    }
    #name {
        font-size: 0.8em;
        float: left;
        margin-left: 30px;
    }
    #trinket #sources {
        text-align: left;
        float: none;
    }
    #trinket #num {
        float: none;
        text-align: center;
    }
    #trinket fieldset {
        text-align: center;
    }
    #trinket #num label {
        margin-right: 10px;
    }
    #trinket div {
        width: 100%;
    }
    #namePage div {
        width: 90%;
        padding: 0px;
    }
    #namePage .option {
        width: 50%;
        margin-bottom: 2%;
        text-align: left;
    }
    #namePage #gen {
        width: 90%;
        margin: 0 auto;
    }
    #eth fieldset,
    #namePage #gen fieldset {
        width: 80%;
        height: auto;
    }
    #eth #misc {
        height: auto;
    }
    #eth label {
        margin-left: 8px;
    }
    #gen label {
        margin-right: 20px;
    }
    #gen p {
        width: 400px;
    }
    .allButton,
    .noneButton {
        margin-right: 0px;
        float: none;
    }
    .twoGroup {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    #charPage .column,
    #charPage .row {
        width: 90vw;
    }
    #charPage #name {
        margin-left: 0px;
    }
    #race,
    #class,
    #background {
        width: 300px;
    }
    #charPage legend {
        margin: 0px;
    }
    #charPage .option {
        margin-right: 10px;
    }
    #charPage #name {
        font-size: 1em;
    }
    #charPage .allButton,
    #charPage .noneButton {
        float: right;
    }
    #charPage label {
        margin-right: 10px;
    }
    #charPage input {
        margin-right: 5px;
    }
}
